[submodule "thirdparty/LittleMUS"]
	path = thirdparty/LittleMUS
	url = https://github.com/raffecat/LittleMUS.git
	branch = main
[submodule "thirdparty/platform"]
	path = thirdparty/platform
	url = https://github.com/raffecat/porting-SDL2.git
	branch = main
[submodule "thirdparty/Nuked-OPL3"]
	path = thirdparty/Nuked-OPL3
	url = https://github.com/raffecat/Nuked-OPL3
